#CIRCLE{
    height: 830px;
    width: 1450px;
    position: absolute;
    left: 0px;
    top: 0px;
}

body {
    overflow-x: hidden; /* Hide horizontal scrollbar */
    overflow-y: hidden; /* Hide vertical scrollbar */
  }