body {
  background-image: url('images/homepage.png');
  background-size: cover;
  background-repeat: none;
  background-attachment: fixed;
}

h1 {
  font-size: 130px;
  margin-top: 0px;
  width: 100%;
  height: 10%;
  font-family: ave;
  font-weight: 100;
  color: white;
}

#HOMEPAGE {
  height: 830px;
  width: 1800px;
  position: fixed;
  left: -180px;
  top: -105px;
}

#FIRST {
  height: 500px;
  width: 1180px;
  position: absolute;
  left: 140px;
  top: 0px;
}

#CHEAT {
  height: 200px;
  width: 200px;
  position: absolute;
  left: 620px;
  top: 520px;
}

body {
  overflow-x: hidden; /* Hide horizontal scrollbar */
  position: absolute;
}

#CIRCLE {
  height: 830px;
  width: 1450px;
  position: absolute;
  left: -10px;
  top: 730px;
}

#WALL {
  height: 830px;
  width: 1600px;
  position: absolute;
  left: -120px;
  top: 1650px;
}

#REC {
  height: 90px;
  width: 1900px;
  position: absolute;
  left: -20px;
  top: 1560px;
}

#TITLE {
  height: 500px;
  width: 980px;
  position: absolute;
  left: 250px;
  top: 2020px;
}

#REC2 {
  height: 90px;
  width: 1900px;
  position: absolute;
  left: -20px;
  top: 2480px;
}

#C1 {
  height: 700px;
  width: 760px;
  position: absolute;
  left: -10px;
  top: 2570px;
}

#C11 {
  height: 700px;
  width: 760px;
  position: absolute;
  left: 720px;
  top: 2570px;
}

#REC3 {
  height: 90px;
  width: 1900px;
  position: absolute;
  left: -20px;
  top: 3270px;
}

#REC4 {
  height: 90px;
  width: 1900px;
  position: absolute;
  left: -20px;
  top: 3375px;
}

#C2 {
  height: 700px;
  width: 760px;
  position: absolute;
  left: -10px;
  top: 3465px;
}

#C22 {
  height: 700px;
  width: 760px;
  position: absolute;
  left: 720px;
  top: 3465px;
}

#REC5 {
  height: 90px;
  width: 1900px;
  position: absolute;
  left: -20px;
  top: 4165px;
}

#REC6 {
  height: 90px;
  width: 1900px;
  position: absolute;
  left: -20px;
  top: 4270px;
}

#C3 {
  height: 700px;
  width: 760px;
  position: absolute;
  left: -10px;
  top: 4360px;
}

#C33 {
  height: 700px;
  width: 760px;
  position: absolute;
  left: 720px;
  top: 4360px;
}

#REC7 {
  height: 90px;
  width: 1900px;
  position: absolute;
  left: -20px;
  top: 5060px;
}

#REC8 {
  height: 90px;
  width: 1900px;
  position: absolute;
  left: -20px;
  top: 5165px;
}

#C4 {
  height: 700px;
  width: 760px;
  position: absolute;
  left: -10px;
  top: 5255px;
}

#C44 {
  height: 700px;
  width: 760px;
  position: absolute;
  left: 720px;
  top: 5255px;
}

#REC9 {
  height: 90px;
  width: 1900px;
  position: absolute;
  left: -20px;
  top: 5955px;
}

#REC10 {
  height: 90px;
  width: 1900px;
  position: absolute;
  left: -20px;
  top: 6060px;
}

#LASTWALL {
  height: 830px;
  width: 1600px;
  position: fixed;
  left: -120px;
  top: 6150px;
}

#TITLE2 {
  height: 500px;
  width: 980px;
  position: absolute;
  left: 250px;
  top: 6400px;
}

#ENDING {
  height: 80px;
  width: 600px;
  position: absolute;
  left: 450px;
  top: 6875px;
}

#concept1 {
  height: 150px;
  width: 480px;
  position: absolute;
  left: -10px;
  top: 3240px;
}

#concept2 {
  height: 150px;
  width: 480px;
  position: absolute;
  left: 3px;
  top: 4135px;
}

#concept3 {
  height: 150px;
  width: 480px;
  position: absolute;
  left: 3px;
  top: 5030px;
}

#concept4 {
  height: 150px;
  width: 480px;
  position: absolute;
  left: 3px;
  top: 5925px;
}

#oof {
  height: 700px;
  width: 590px;
  position: absolute;
  left: 400px;
  top: 7050px;
}

#ICON {
  height: 110px;
  width: 380px;
  position: absolute;
  left: 1050px;
  top: 3260px;
}

#ICON2 {
  height: 110px;
  width: 380px;
  position: absolute;
  left: 1050px;
  top: 4155px;
}

#ICON3 {
  height: 110px;
  width: 380px;
  position: absolute;
  left: 1050px;
  top: 5050px;
}

#ICON4 {
  height: 110px;
  width: 380px;
  position: absolute;
  left: 1050px;
  top: 5945px;
}

#THANKS {
  height: 830px;
  width: 1600px;
  position: absolute;
  left: -80px;
  top: 6950px;
}

#arrow {
  height: 200px;
  width: 200px;
  position: absolute;
  left: 630px;
  top: 6200px;
}

.marquee {
  position: absolute;
  width: 3000px;
  max-width: 600%;
  height: 120px;
  overflow-x: hidden;
  overflow-y: hidden;
  left: -100px;
  right: 100px;
  top: 1541px;
  z-index: 200;
}
.marquee-content {
  width: 100vw;
}

.track {
  white-space: nowrap;
  width: 1680px;
  will-change: scroll-position;
  animation:infinite marquee 5s linear;
}

@keyframes marquee {
  from {
    transform: translateX(-1vw);
  }
  to {
    transform: translateX(110vw);
  }
}

.marquee-img {
  position:relative;
  width: 100vw;
}

.marquee2 {
    position: absolute;
    width: 3000px;
    max-width: 600%;
    height: 120px;
    overflow-x: hidden;
    overflow-y: hidden;
    left: -100px;
    right: 100px;
    top: 2461px;
    z-index: 200;
  }

  .marquee3 {
    position: absolute;
    width: 3000px;
    max-width: 600%;
    height: 120px;
    overflow-x: hidden;
    overflow-y: hidden;
    left: -100px;
    right: 100px;
    top: 3357px;
    z-index: 200;
  }

  .marquee4 {
    position: absolute;
    width: 3000px;
    max-width: 600%;
    height: 120px;
    overflow-x: hidden;
    overflow-y: hidden;
    left: -100px;
    right: 100px;
    top: 4252px;
    z-index: 200;
  }

  .marquee5 {
    position: absolute;
    width: 3000px;
    max-width: 600%;
    height: 120px;
    overflow-x: hidden;
    overflow-y: hidden;
    left: -100px;
    right: 100px;
    top: 5146px;
    z-index: 200;
  }

  .marquee6 {
    position: absolute;
    width: 3000px;
    max-width: 600%;
    height: 120px;
    overflow-x: hidden;
    overflow-y: hidden;
    left: -100px;
    right: 100px;
    top: 6041px;
    z-index: 200;
  }

  #REC11 {
    height: 90px;
    width: 1900px;
    position: absolute;
    left: -20px;
    top: 6950px;
  }

  #REC12 {
    height: 90px;
    width: 1900px;
    position: absolute;
    left: -20px;
    top: 7700px;
  }

  .marquee7 {
    position: absolute;
    width: 3000px;
    max-width: 600%;
    height: 120px;
    overflow-x: hidden;
    overflow-y: hidden;
    left: -100px;
    right: 100px;
    top: 6931px;
    z-index: 200;
  }

  .marquee8 {
    position: absolute;
    width: 3000px;
    max-width: 600%;
    height: 120px;
    overflow-x: hidden;
    overflow-y: hidden;
    left: -100px;
    right: 100px;
    top: 7680px;
    z-index: 200;
  }