body1 {
    overflow-x: hidden; /* Hide horizontal scrollbar */
    position: absolute; 
}

h1 {
    background-color: black;
}

* {box-sizing:border-box;}

img {
    width:100%;
}

section {
    width: 100vw;
    height:auto;
}

.home {
    padding:100px;
}

img.hompeage {
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  width: 100%;
  z-index: index -1;
}