body1 {
    overflow-x: hidden; /* Hide horizontal scrollbar */
    position: absolute;
}

* {box-sizing:border-box;}

/* body {
    background-image: url('http://placekitten.com'/1600/900);
    background-size:cover;
    background-repeat:no-repeat;
     background-attachment: fixed;
} */

img {
    width:100%;
}
section {
    width: 100vw;
    height:auto;
}
.home {
    padding:100px;
}
img.hompeage {
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  width: 100%;
  z-index:-1;
}