body1 {
    overflow-x:scroll; /* Hide horizontal scrollbar */
    position: absolute; 
}

* {box-sizing:border-box;}

img {
    width:100%;
}

section {
    width: 100vw;
    height: auto;
}

img.home {
    padding:100px;
}

.hompeage {
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  width: 100%;
  z-index: index -1;
}